
                
        <link rel="stylesheet" href="/css/footer-modern.css">
        <!-- footer -->
        <footer>
          <div class="container">
            <div class="row getStarted">
              <div class="col-sm-9"><h2>Ready to Get Started?</h2></div>
              <div class="col-sm-3"><a class="custom-btn" href="#0">Get Started Now</a></div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="footer-col first">
                  <h4>                
                        {% if site["logo"] %}
                            <img src="{{ site['logo'] }}" alt="{{ site['site_name'] }}">
                        {% else %}
                            <strong>{{ site["site_name"] }}</strong>
                        {% endif %}          
                  </h4>
                  <p class="p-small">{{ site["site_name"] }} #Destination No.1 SMM PANEL Social Media Services Provider - Most trusted smm panel</p>
                </div>
              </div>
              <div class="col-sm-3">
                <details class="footer-col middle footer-accordion">
                  <summary><h4>Quick Links<span class="accordion-icon" aria-hidden="true"></span></h4></summary>
                  <h4>Quick Links</h4>
                  <ul class="list-unstyled li-space-lg p-small">
                    <li class="media">
                      <i class="fas fa-chevron-right"></i>
                      <div class="media-body"> <a class="white" href="/">Login</a></div>
                    </li>
                    <li class="media">
                      <i class="fas fa-chevron-right"></i>
                      <div class="media-body"> <a class="white" href="/signup">Sign Up</a></div>
                    </li>
                  </ul>
                </details>
              </div>
              <div class="col-sm-3">
                <details class="footer-col middle footer-accordion">
                  <summary><h4>Services Links<span class="accordion-icon" aria-hidden="true"></span></h4></summary>
                  <h4>Services Links</h4>
                  <ul class="list-unstyled li-space-lg p-small">
                    <li class="media">
                      <i class="fas fa-chevron-right"></i>
                      <div class="media-body"> <a class="white" href="/services">Facebook</a></div>
                    </li>
                    <li class="media">
                      <i class="fas fa-chevron-right"></i>
                      <div class="media-body"> <a class="white" href="/services">instagram</a></div>
                    </li>
                    <li class="media">
                      <i class="fas fa-chevron-right"></i>
                      <div class="media-body"> <a class="white" href="/services">twitter</a></div>
                    </li>
                    <li class="media">
                      <i class="fas fa-chevron-right"></i>
                      <div class="media-body"> <a class="white" href="/services">youtube</a></div>
                    </li>            
                    <li class="media">
                      <i class="fas fa-chevron-right"></i>
                      <div class="media-body"> <a class="white" href="/services">linkedin</a></div>
                    </li>
                    <li class="media">
                      <i class="fas fa-chevron-right"></i>
                      <div class="media-body"> <a class="white" href="/services">souncloud</a></div>
                    </li>
                    <li class="media">
                      <i class="fas fa-chevron-right"></i>
                      <div class="media-body"> <a class="white" href="/services">Vimeo</a></div>
                    </li>
                    <li class="media">
                      <i class="fas fa-chevron-right"></i>
                      <div class="media-body"> <a class="white" href="/services">pinterest</a></div>
                    </li>
                  </ul>
                </details>
              </div>
              <div class="col-sm-3">
                <details class="footer-col last footer-accordion">
                  <summary><h4>Other Links<span class="accordion-icon" aria-hidden="true"></span></h4></summary>
                  <h4>Other Links</h4>
                  <ul class="list-unstyled li-space-lg p-small">
                    <li class="media">
                      <i class="fas fa-chevron-right"></i>
                      <div class="media-body"> <a class="white" href="/terms">Terms &amp; Conditions</a></div>
                    </li>
                    <li class="media">
                      <i class="fas fa-chevron-right"></i>
                      <div class="media-body"> <a class="white" href="/faq">FAQs</a></div>
                    </li>
                    <li class="media">
                      <i class="fas fa-chevron-right"></i>
                      <div class="media-body"> <a class="white" href="/api">API Documentation</a></div>
                    </li>
                  </ul>
                </details>
              </div>      
            </div>
          </div>
          <div class="footer copyright">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-lg-6">
                  © Copyright {{ "now"|date("Y") }}. All Rights Reserved.
                </div>
                <div class="col-lg-6 text-right">
                  <ul class="sIcons">
                    <li><a href="https://www.facebook.com/" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://www.tiktok.com/" aria-label="TikTok"><i class="fab fa-tiktok"></i></a></li>
                    <li><a href="https://www.instagram.com/" aria-label="Instagram"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://www.youtube.com/" aria-label="YouTube"><i class="fab fa-youtube"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </footer>
        <script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"rayId":"9702fe1e3f6af5d7","version":"2025.8.0","r":1,"token":"7bd9840154c14f949d1a71b7d939180c","serverTiming":{"name":{"cfExtPri":true,"cfEdge":true,"cfOrigin":true,"cfL4":true,"cfSpeedBrain":true,"cfCacheStatus":true}}}' crossorigin="anonymous"></script>
</body>
        <script>
                                        if( (self.parent && !(self.parent===self))
                                                &&(self.parent.frames.length!=0)){
                                                self.parent.location=document.location
                                        }
                                        </script><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.27.6/js/jquery.tablesorter.min.js"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.0.0/sweetalert2.all.min.js" defer ></script>
                        
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script> <script> window.modules=["global","signup","settings","signin"];window.modules.global={"cdn":"cdn.apanel.link"};window.modules.signin={"allow_google_login":"1","allow_average_time_option":"3"}; </script><script src="https://cdn.apanel.link/toolkit.js" defer></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" defer ></script>
                
                <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.14/js/bootstrap-select.min.js"  defer integrity="sha512-CJXg3iK9v7yyWvjk2npXkQjNQ4C1UES1rQaNB7d7ZgEVX2a8/2BmtDmtTclW4ial1wQ41cU34XPxOw+6xJBmTQ=="  crossorigin="anonymous" referrerpolicy="no-referrer"></script><script>;
                
function fn60sec(){try{const t=new BroadcastChannel("auth_check_channel");t.onmessage=function(e){if("auth_request-sent"===e.data)return console.log("not right time1"),""};const o=localStorage.getItem("lastAuthCheck")||0;if(Date.now()-o<12e4)return console.log("not right time2"),"";var e=new XMLHttpRequest;e.onreadystatechange=function(){try{4==this.readyState&&(200==this.status?(console.log("Yes"),localStorage.setItem("lastAuthCheck",Date.now()),t.postMessage("auth_request-sent")):console.error("Request failed with status:",this.status))}catch(e){console.error("Error processing the request:",e)}},e.open("GET","/check-auth",!0),e.setRequestHeader("Content-type","application/json");try{e.send()}catch(e){console.error("Error sending the request:",e)}}catch(e){console.error("Unexpected error in fn60sec:",e)}}


(function() {
setInterval(fn60sec, 120*1000);
$(".placeorder-btn").click(function(e) {
var href= e.currentTarget.dataset.href;
window.location.href = href;
});

})();

  if ("serviceWorker" in navigator) {
      navigator.serviceWorker.register("/app-services-worker.js")
          .then(() => console.log("Service Worker Registered"))
          .catch((err) => console.log("Service Worker Failed", err));
  }
</script>
rn<script>
        $( document ).ready(function() {
                //$("textarea").height( $("textarea")[0].scrollHeight );        
        });
        $( function() {
                        $( "#field-orderform-fields-expiry" ).datetimepicker({
                                format: "YYYY-MM-DD",
                                minDate: new Date()
                        });
        } );
                        </script>
        
        
        <!-- slick js -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
  
  
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
                // Counter up js
(function($){"use strict";$.fn.counterUp=function(options){var settings=$.extend({time:400,delay:10,offset:100,beginAt:0,formatter:false,context:"window",callback:function(){}},options),s;return this.each(function(){var $this=$(this),counter={time:$(this).data("counterup-time")||settings.time,delay:$(this).data("counterup-delay")||settings.delay,offset:$(this).data("counterup-offset")||settings.offset,beginAt:$(this).data("counterup-beginat")||settings.beginAt,context:$(this).data("counterup-context")||settings.context};var counterUpper=function(){var nums=[];var divisions=counter.time/counter.delay;var num=$(this).attr("data-num")?$(this).attr("data-num"):$this.text();var isComma=/[0-9]+,[0-9]+/.test(num);num=num.replace(/,/g,"");var decimalPlaces=(num.split(".")[1]||[]).length;if(counter.beginAt>num)counter.beginAt=num;var isTime=/[0-9]+:[0-9]+:[0-9]+/.test(num);if(isTime){var times=num.split(":"),m=1;s=0;while(times.length>0){s+=m*parseInt(times.pop(),10);m*=60}}for(var i=divisions;i>=counter.beginAt/num*divisions;i--){var newNum=parseFloat(num/divisions*i).toFixed(decimalPlaces);if(isTime){newNum=parseInt(s/divisions*i);var hours=parseInt(newNum/3600)%24;var minutes=parseInt(newNum/60)%60;var seconds=parseInt(newNum%60,10);newNum=(hours<10?"0"+hours:hours)+":"+(minutes<10?"0"+minutes:minutes)+":"+(seconds<10?"0"+seconds:seconds)}if(isComma){while(/(\d+)(\d{3})/.test(newNum.toString())){newNum=newNum.toString().replace(/(\d+)(\d{3})/,"$1"+","+"$2")}}if(settings.formatter){newNum=settings.formatter.call(this,newNum)}nums.unshift(newNum)}$this.data("counterup-nums",nums);$this.text(counter.beginAt);var f=function(){if(!$this.data("counterup-nums")){settings.callback.call(this);return}$this.html($this.data("counterup-nums").shift());if($this.data("counterup-nums").length){setTimeout($this.data("counterup-func"),counter.delay)}else{$this.data("counterup-nums",null);$this.data("counterup-func",null);settings.callback.call(this)}};$this.data("counterup-func",f);setTimeout($this.data("counterup-func"),counter.delay)};$this.waypoint(function(direction){counterUpper();this.destroy()},{offset:counter.offset+"%",context:counter.context})})}})(jQuery);
/*!Waypoints - 4.0.1 Copyright Â© 2011-2016 Caleb Troughton Licensed under the MIT license. https://github.com/imakewebthings/waypoints/blob/master/licenses.txt*/
!function(){"use strict";function t(o){if(!o)throw new Error("No options passed to Waypoint constructor");if(!o.element)throw new Error("No element option passed to Waypoint constructor");if(!o.handler)throw new Error("No handler option passed to Waypoint constructor");this.key="waypoint-"+e,this.options=t.Adapter.extend({},t.defaults,o),this.element=this.options.element,this.adapter=new t.Adapter(this.element),this.callback=o.handler,this.axis=this.options.horizontal?"horizontal":"vertical",this.enabled=this.options.enabled,this.triggerPoint=null,this.group=t.Group.findOrCreate({name:this.options.group,axis:this.axis}),this.context=t.Context.findOrCreateByElement(this.options.context),t.offsetAliases[this.options.offset]&&(this.options.offset=t.offsetAliases[this.options.offset]),this.group.add(this),this.context.add(this),i[this.key]=this,e+=1}var e=0,i={};t.prototype.queueTrigger=function(t){this.group.queueTrigger(this,t)},t.prototype.trigger=function(t){this.enabled&&this.callback&&this.callback.apply(this,t)},t.prototype.destroy=function(){this.context.remove(this),this.group.remove(this),delete i[this.key]},t.prototype.disable=function(){return this.enabled=!1,this},t.prototype.enable=function(){return this.context.refresh(),this.enabled=!0,this},t.prototype.next=function(){return this.group.next(this)},t.prototype.previous=function(){return this.group.previous(this)},t.invokeAll=function(t){var e=[];for(var o in i)e.push(i[o]);for(var n=0,r=e.length;r>n;n++)e[n][t]()},t.destroyAll=function(){t.invokeAll("destroy")},t.disableAll=function(){t.invokeAll("disable")},t.enableAll=function(){t.Context.refreshAll();for(var e in i)i[e].enabled=!0;return this},t.refreshAll=function(){t.Context.refreshAll()},t.viewportHeight=function(){return window.innerHeight||document.documentElement.clientHeight},t.viewportWidth=function(){return document.documentElement.clientWidth},t.adapters=[],t.defaults={context:window,continuous:!0,enabled:!0,group:"default",horizontal:!1,offset:0},t.offsetAliases={"bottom-in-view":function(){return this.context.innerHeight()-this.adapter.outerHeight()},"right-in-view":function(){return this.context.innerWidth()-this.adapter.outerWidth()}},window.Waypoint=t}(),function(){"use strict";function t(t){window.setTimeout(t,1e3/60)}function e(t){this.element=t,this.Adapter=n.Adapter,this.adapter=new this.Adapter(t),this.key="waypoint-context-"+i,this.didScroll=!1,this.didResize=!1,this.oldScroll={x:this.adapter.scrollLeft(),y:this.adapter.scrollTop()},this.waypoints={vertical:{},horizontal:{}},t.waypointContextKey=this.key,o[t.waypointContextKey]=this,i+=1,n.windowContext||(n.windowContext=!0,n.windowContext=new e(window)),this.createThrottledScrollHandler(),this.createThrottledResizeHandler()}var i=0,o={},n=window.Waypoint,r=window.onload;e.prototype.add=function(t){var e=t.options.horizontal?"horizontal":"vertical";this.waypoints[e][t.key]=t,this.refresh()},e.prototype.checkEmpty=function(){var t=this.Adapter.isEmptyObject(this.waypoints.horizontal),e=this.Adapter.isEmptyObject(this.waypoints.vertical),i=this.element==this.element.window;t&&e&&!i&&(this.adapter.off(".waypoints"),delete o[this.key])},e.prototype.createThrottledResizeHandler=function(){function t(){e.handleResize(),e.didResize=!1}var e=this;this.adapter.on("resize.waypoints",function(){e.didResize||(e.didResize=!0,n.requestAnimationFrame(t))})},e.prototype.createThrottledScrollHandler=function(){function t(){e.handleScroll(),e.didScroll=!1}var e=this;this.adapter.on("scroll.waypoints",function(){(!e.didScroll||n.isTouch)&&(e.didScroll=!0,n.requestAnimationFrame(t))})},e.prototype.handleResize=function(){n.Context.refreshAll()},e.prototype.handleScroll=function(){var t={},e={horizontal:{newScroll:this.adapter.scrollLeft(),oldScroll:this.oldScroll.x,forward:"right",backward:"left"},vertical:{newScroll:this.adapter.scrollTop(),oldScroll:this.oldScroll.y,forward:"down",backward:"up"}};for(var i in e){var o=e[i],n=o.newScroll>o.oldScroll,r=n?o.forward:o.backward;for(var s in this.waypoints[i]){var a=this.waypoints[i][s];if(null!==a.triggerPoint){var l=o.oldScroll<a.triggerPoint,h=o.newScroll>=a.triggerPoint,p=l&&h,u=!l&&!h;(p||u)&&(a.queueTrigger(r),t[a.group.id]=a.group)}}}for(var c in t)t[c].flushTriggers();this.oldScroll={x:e.horizontal.newScroll,y:e.vertical.newScroll}},e.prototype.innerHeight=function(){return this.element==this.element.window?n.viewportHeight():this.adapter.innerHeight()},e.prototype.remove=function(t){delete this.waypoints[t.axis][t.key],this.checkEmpty()},e.prototype.innerWidth=function(){return this.element==this.element.window?n.viewportWidth():this.adapter.innerWidth()},e.prototype.destroy=function(){var t=[];for(var e in this.waypoints)for(var i in this.waypoints[e])t.push(this.waypoints[e][i]);for(var o=0,n=t.length;n>o;o++)t[o].destroy()},e.prototype.refresh=function(){var t,e=this.element==this.element.window,i=e?void 0:this.adapter.offset(),o={};this.handleScroll(),t={horizontal:{contextOffset:e?0:i.left,contextScroll:e?0:this.oldScroll.x,contextDimension:this.innerWidth(),oldScroll:this.oldScroll.x,forward:"right",backward:"left",offsetProp:"left"},vertical:{contextOffset:e?0:i.top,contextScroll:e?0:this.oldScroll.y,contextDimension:this.innerHeight(),oldScroll:this.oldScroll.y,forward:"down",backward:"up",offsetProp:"top"}};for(var r in t){var s=t[r];for(var a in this.waypoints[r]){var l,h,p,u,c,d=this.waypoints[r][a],f=d.options.offset,w=d.triggerPoint,y=0,g=null==w;d.element!==d.element.window&&(y=d.adapter.offset()[s.offsetProp]),"function"==typeof f?f=f.apply(d):"string"==typeof f&&(f=parseFloat(f),d.options.offset.indexOf("%")>-1&&(f=Math.ceil(s.contextDimension*f/100))),l=s.contextScroll-s.contextOffset,d.triggerPoint=Math.floor(y+l-f),h=w<s.oldScroll,p=d.triggerPoint>=s.oldScroll,u=h&&p,c=!h&&!p,!g&&u?(d.queueTrigger(s.backward),o[d.group.id]=d.group):!g&&c?(d.queueTrigger(s.forward),o[d.group.id]=d.group):g&&s.oldScroll>=d.triggerPoint&&(d.queueTrigger(s.forward),o[d.group.id]=d.group)}}return n.requestAnimationFrame(function(){for(var t in o)o[t].flushTriggers()}),this},e.findOrCreateByElement=function(t){return e.findByElement(t)||new e(t)},e.refreshAll=function(){for(var t in o)o[t].refresh()},e.findByElement=function(t){return o[t.waypointContextKey]},window.onload=function(){r&&r(),e.refreshAll()},n.requestAnimationFrame=function(e){var i=window.requestAnimationFrame||window.mozRequestAnimationFrame||window.webkitRequestAnimationFrame||t;i.call(window,e)},n.Context=e}(),function(){"use strict";function t(t,e){return t.triggerPoint-e.triggerPoint}function e(t,e){return e.triggerPoint-t.triggerPoint}function i(t){this.name=t.name,this.axis=t.axis,this.id=this.name+"-"+this.axis,this.waypoints=[],this.clearTriggerQueues(),o[this.axis][this.name]=this}var o={vertical:{},horizontal:{}},n=window.Waypoint;i.prototype.add=function(t){this.waypoints.push(t)},i.prototype.clearTriggerQueues=function(){this.triggerQueues={up:[],down:[],left:[],right:[]}},i.prototype.flushTriggers=function(){for(var i in this.triggerQueues){var o=this.triggerQueues[i],n="up"===i||"left"===i;o.sort(n?e:t);for(var r=0,s=o.length;s>r;r+=1){var a=o[r];(a.options.continuous||r===o.length-1)&&a.trigger([i])}}this.clearTriggerQueues()},i.prototype.next=function(e){this.waypoints.sort(t);var i=n.Adapter.inArray(e,this.waypoints),o=i===this.waypoints.length-1;return o?null:this.waypoints[i+1]},i.prototype.previous=function(e){this.waypoints.sort(t);var i=n.Adapter.inArray(e,this.waypoints);return i?this.waypoints[i-1]:null},i.prototype.queueTrigger=function(t,e){this.triggerQueues[e].push(t)},i.prototype.remove=function(t){var e=n.Adapter.inArray(t,this.waypoints);e>-1&&this.waypoints.splice(e,1)},i.prototype.first=function(){return this.waypoints[0]},i.prototype.last=function(){return this.waypoints[this.waypoints.length-1]},i.findOrCreate=function(t){return o[t.axis][t.name]||new i(t)},n.Group=i}(),function(){"use strict";function t(t){this.$element=e(t)}var e=window.jQuery,i=window.Waypoint;e.each(["innerHeight","innerWidth","off","offset","on","outerHeight","outerWidth","scrollLeft","scrollTop"],function(e,i){t.prototype[i]=function(){var t=Array.prototype.slice.call(arguments);return this.$element[i].apply(this.$element,t)}}),e.each(["extend","inArray","isEmptyObject"],function(i,o){t[o]=e[o]}),i.adapters.push({name:"jquery",Adapter:t}),i.Adapter=t}(),function(){"use strict";function t(t){return function(){var i=[],o=arguments[0];return t.isFunction(arguments[0])&&(o=t.extend({},arguments[1]),o.handler=arguments[0]),this.each(function(){var n=t.extend({},o,{element:this});"string"==typeof n.context&&(n.context=t(this).closest(n.context)[0]),i.push(new e(n))}),i}}var e=window.Waypoint;window.jQuery&&(window.jQuery.fn.waypoint=t(window.jQuery)),window.Zepto&&(window.Zepto.fn.waypoint=t(window.Zepto))}();
      
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
    <script>
    $(document).ready(function(){
    $("#searchService").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#accordion div.panel").filter(function() {
    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  $("#accordion1 div.panel").filter(function() {
    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
    });
      
      $("#services.unauthorized nav.navbar, .api.unauthorized nav.navbar, .reset-password nav.navbar").addClass("bg-nav");
      
      
    $(window).scroll(function() {    
        var scroll = $(window).scrollTop();
        if (scroll >= 100) {
            $("body.unauthorized:not(#login) nav.navbar").addClass("fixed");
        }else{
                $("body.unauthorized:not(#login) nav.navbar").removeClass("fixed");
        }
    });
      
    });
  </script>
      <script>          
                var _0x19d3f9=_0x5148;function _0xe166(){var _0x2a5b17=['201939uDjzQR','8WOLgqW','5721855ukjBmX','clicked','removeClass','14542670xItcox','5419989YXIehH','getItem','1362jIZUbl','32522bUzQab','.authorized','nightmode','32tjtSPh','mode','setItem','log','addClass','daymode','3088216XlhgGl','1085883oKTwRC','button.modeChanger'];_0xe166=function(){return _0x2a5b17;};return _0xe166();}(function(_0x60cf13,_0x5cb633){var _0x188fca=_0x5148,_0x515c01=_0x60cf13();while(!![]){try{var _0x347983=-parseInt(_0x188fca(0xfc))/0x1+parseInt(_0x188fca(0xf5))/0x2*(-parseInt(_0x188fca(0xfe))/0x3)+parseInt(_0x188fca(0xfb))/0x4+-parseInt(_0x188fca(0x100))/0x5+-parseInt(_0x188fca(0xf1))/0x6*(-parseInt(_0x188fca(0xf2))/0x7)+parseInt(_0x188fca(0xff))/0x8*(parseInt(_0x188fca(0x104))/0x9)+parseInt(_0x188fca(0x103))/0xa;if(_0x347983===_0x5cb633)break;else _0x515c01['push'](_0x515c01['shift']());}catch(_0x1a49a6){_0x515c01['push'](_0x515c01['shift']());}}}(_0xe166,0x8c9b2));function _0x5148(_0x12dd4f,_0x3358d0){var _0xe16663=_0xe166();return _0x5148=function(_0x514868,_0x4a2645){_0x514868=_0x514868-0xf0;var _0x36aad9=_0xe16663[_0x514868];return _0x36aad9;},_0x5148(_0x12dd4f,_0x3358d0);}var mode=localStorage['getItem'](_0x19d3f9(0xf6));;function modeChangeFunc(){var _0x3e283c=_0x19d3f9;localStorage[_0x3e283c(0xf7)](_0x3e283c(0xf6),'1'),$('.authorized')[_0x3e283c(0x102)](_0x3e283c(0xfa)),$(_0x3e283c(0xf3))[_0x3e283c(0xf9)](_0x3e283c(0xf4)),console[_0x3e283c(0xf8)](localStorage[_0x3e283c(0xf0)](_0x3e283c(0xf6))),console[_0x3e283c(0xf8)](_0x3e283c(0x101));}$(_0x19d3f9(0xfd))['click'](function(){var _0x227acd=_0x19d3f9,_0x144a9d=localStorage[_0x227acd(0xf0)](_0x227acd(0xf6));;_0x144a9d==0x1?(localStorage[_0x227acd(0xf7)](_0x227acd(0xf6),'0'),$(_0x227acd(0xf3))[_0x227acd(0x102)](_0x227acd(0xf4)),$(_0x227acd(0xf3))[_0x227acd(0xf9)](_0x227acd(0xfa))):modeChangeFunc();});mode==0x1&&($(_0x19d3f9(0xf3))[_0x19d3f9(0x102)](_0x19d3f9(0xfa)),$('.authorized')[_0x19d3f9(0xf9)](_0x19d3f9(0xf4)));
        </script>
        <script>
        var $counter = $('.counter');
          if($counter.length > 0){
              $counter.counterUp({
                  delay: 20,
                  time: 3000
              });
          }
      
                $(".social-icons-slider").slick({
            infinite: true,
            centerMode: true,
            arrows: false,
            dots: false,
            autoplay: true,
            autoplaySpeed: 0,
            speed: 9000,
            cssEase: 'linear',
            slidesToShow: 15,
            slidesToScroll: 1
          });

        if ($(window).width() > 991) {        
        
          var curvedSlider = $(".social-icons-slider");
          function curvedSliderAddFunc() {
            //curvedSlider.on("init", function() {
              var actives = curvedSlider.find(".slick-active");
              
              for(var i = 0; i < actives.length; i++) {
                var $active = $(actives[i]);
                $active.addClass("active-item" + i);
              }
            //});
          }
          curvedSliderAddFunc();


          function curvedSliderRemoveFunc() {
            var slideCount =  curvedSlider.find(".slick-slide");
            var classArr = ["active-item0", "active-item1", "active-item2", "active-item3", "active-item4", "active-item5", "active-item6", "active-item7", "active-item8", "active-item9", "active-item10", "active-item11", "active-item12", "active-item13", "active-item14"]
      //console.log(slideCount);
            for(var i = 0; i < slideCount.length; i++){
              var $single = $(slideCount[i]);
      //console.log($single);
              for(var j = 0; j < classArr.length; j++) {                
                if($single.hasClass(classArr[j])) {
                  $single.removeClass(classArr[j])
                }
              }
            }
          }
          //curvedSliderRemoveFunc();

          setInterval(() => {
             curvedSliderRemoveFunc();
             curvedSliderAddFunc();
          }, 0.1);
      
        }

          $('.testimonial-slider').slick({
            infinite: true,
            arrows: false,
            dots: true,
            slidesToShow: 2,
            slidesToScroll: 1,
            responsive: [
              {
                breakpoint: 550,
                settings: {
                  slidesToShow: 1,
                                  adaptiveHeight: true
                }
              }
            ]
          });

          $('.payIcons-slider').slick({
            infinite: true,
            arrows: false,
            dots: false,
            autoplay: true,
            autoplaySpeed: 2000,
            slidesToShow: 10,
            slidesToScroll: 1,
            responsive: [
              {
                breakpoint: 1024,
                settings: {
                  slidesToShow: 3,
                  slidesToScroll: 3,
                  infinite: true,
                  dots: true
                }
              },
              {
                breakpoint: 600,
                settings: {
                  slidesToShow: 2,
                  slidesToScroll: 2
                }
              },
              {
                breakpoint: 550,
                settings: {
                  slidesToShow: 5
                }
              }
              // You can unslick at a given breakpoint now by adding:
              // settings: "unslick"
              // instead of a settings object
            ]
          });
        </script>
    <script type="text/javascript">
        $("#menu-toggle, #menu-toggle2, .nav-btn").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    if ($(window).width() < 991) {
        $('#wrapper').removeClass('toggled');
    } else {
        $('#wrapper').addClass('toggled');
    }
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
  <script type="text/javascript">
    if ($(window).width() < 551) {
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
    }
    }
    
  </script>
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  <script>
    $(document).ready(function(){
    $(window).trigger('resize');
    });
  </script>
      
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
     
</html> 

        