{% include 'header.twig' %}

<link rel="stylesheet" href="/css/landing.css">

<!-- hero section -->
<section class="heroSec">
  <div class="icon-bubbles"></div>
  <div class="container">
    <div class="row hero-split">
      <!-- Left Column - Headline & CTA -->
      <div class="col-lg-6 col-md-6 hero-content">
        <h1><span>Boost Your Social Media</span><br>& Start Earning With Monetization Services<br><span>Views, Likes, Followers</span></h1>
        <p><strong>Welcome to {{ site["site_name"] }},</strong> Increase your Social Media Followers & Engagements on your social media profile.</p>
        <div class="hero-buttons">
          <a href="/services" class="custom-btn btn-primary">Services</a>
          <a href="/signup" class="custom-btn btn-outline">Register</a>
        </div>
      </div>
      <!-- Right Column - Login Form -->
      <div class="col-lg-5 col-lg-offset-1 col-md-6 hero-form">
        <div class="form-cont">
          <h3>Welcome Back</h3>
          {% if errorText %}
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">x</button>
          {{ errorText }}
        </div>
      {% endif %}
      {% if successText %}
          <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">x</button>
            {{ successText }}
          </div>
          {% endif %}
          <form class="component_form_group component_checkbox_remember_me" method="post" action="/">
            <div class="form-group">
              <label>Username</label>
              <input type="text" name="username" class="form-control" value="{{ data["username"] }}" placeholder="Username">
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" name="password" class="form-control" placeholder="Password">
            </div>
            {% if captcha %}
            <div class="form-group">
              <div class="g-recaptcha" data-sitekey="{{ captchaKey }}"></div>
            </div>
            {% endif %}
            <div class="checkbox remember-row">
              <label>
                <input name="remember_me" id="remembered" value="1" type="checkbox"> Remember me
              </label>
            </div>
            <input type="hidden" name="login_btn" value="Login">
            <button type="submit" name="login_btn" class="btn btn-primary btn-block">Login</button>
            {% if google_login_content %}
            <div class="google-login-btn" id="allow_google_login_div" onclick="window.location.href='?login-with-google'">
              <i class="fab fa-google"></i> Sign in with Google
            </div>
            {% endif %}
            <div class="form-footer">
              <span>Not a member? <a href="signup">Register</a></span>
              <a href="resetpassword" class="forget-pass">Forgot password?</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="shape shape-btm">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
      <path class="shape-fill" d="M500,97C126.7,96.3,0.8,19.8,0,0v100l1000,0V1C1000,19.4,873.3,97.8,500,97z"></path>
    </svg>
  </div>
</section>

  
  <!-- counters section -->
  <section class="countersSec">
        <div class="container">
          <div class="row">
                <div class="col-sm-3">
                  <div class="singleCount">
                        <div class="icon">
                          <i class="fal fa-box-check"></i>
                        </div>
                        <div class="text">
                          <h4 class="counter">978920</h4>
                          <p>Completed Order</p>
                        </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="singleCount">
                        <div class="icon">
                          <i class="fal fa-heart"></i>
                        </div>
                        <div class="text">
                          <h4 class="counter">38560</h4>
                          <p>Happy Clients</p>
                        </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="singleCount">
                        <div class="icon">
                          <i class="fal fa-life-ring"></i>
                        </div>
                        <div class="text">
                          <h4 class="counter">12867</h4>
                          <p>Total Service</p>
                        </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="singleCount">
                        <div class="icon">
                          <i class="fal fa-crown"></i>
                        </div>
                        <div class="text">
                          <h4 class="counter">1</h4>
                          <p>Ranking in Market</p>
                        </div>
                  </div>
                </div>
          </div>
        </div>
  </section>
  
  <!-- how it works section -->
  <section class="howItWorksSec">
        <div class="container">
          <div class="row">
                <div class="col-sm-12">
                  <div class="section-header">
                        <h3>How it works?</h3>
                        <h2>By following the processes below you can make any order you want.</h2>
                        <p>It is about us being able to offer help with the branding campaign, product presentation, and advertisement running across social media.</p>
                  </div>
                </div>
          </div>
          <div class="row">
                <div class="col-sm-3">
                  <div class="img-cont">
                        <img src="https://imgur.com/OU4SSzV.png">
                        <span>1</span>
                  </div>
                  <div class="steps-desc">
                        <h2>Register & log in</h2>
                        <p>Creating an account is the first step, then you need to log in.</p>
                        <a href="/signup" class="custom-btn">Sign Up</a>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="img-cont">
                        <img src="https://imgur.com/OU4SSzV.png">
                        <span>2</span>
                  </div>
                  <div class="steps-desc">
                        <h2>Add funds</h2>
                        <p>Next, pick a payment method and add funds to your account.</p>
                        <a href="/signup" class="custom-btn">Add Funds</a>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="img-cont">
                        <img src="https://imgur.com/OU4SSzV.png">
                        <span>3</span>
                  </div>
                  <div class="steps-desc">
                        <h2>Select a service</h2>
                        <p>Select the services you want and get ready to receive more publicity.</p>
                        <a href="/signup" class="custom-btn">Services</a>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="img-cont">
                        <img src="https://imgur.com/OU4SSzV.png">
                        <span>4</span>
                  </div>
                  <div class="steps-desc">
                        <h2>Enjoy superb results</h2>
                        <p>You can enjoy incredible results when your order is complete.</p>
                        <a href="/signup" class="custom-btn">Explore</a>
                  </div>
                </div>
          </div>
        </div>
  </section>
  
  <!-- features section -->
  <section class="featureSec" id="feature">
        <div class="amazing-feature-bottom">
          <div class="container">
                <div class="row">
                  <div class="col-sm-8">
                        <div class="section-header">
                          <h3>A Collection of Prominent Features</h3>
                          <h2>Delivering Exceptional User Experiences.</h2>
                          <p>Numerous features make it possible to customize the system in accordance with all your needs.</p>
                        </div>
                  </div>
                  <div class="col-sm-12 mb-30-none">
                        <div class="row">
                          <div class="col-sm-3">
                                <div class="am-item">
                                  <div class="am-thumb">
                                        <img src="https://imgur.com/sWNNmIV.png">
                                  </div>
                                  <div class="am-content">
                                        <h5 class="title">Free Trial</h5>
                                  </div>
                                </div>
                          </div>
                          <div class="col-sm-3">
                                <div class="am-item active">
                                  <div class="am-thumb">
                                        <img src="https://imgur.com/7BcjaKl.png">
                                  </div>
                                  <div class="am-content">
                                        <h5 class="title">Secure Data</h5>
                                  </div>
                                </div>
                          </div>
                          <div class="col-sm-3">
                                <div class="am-item">
                                  <div class="am-thumb">
                                        <img src="https://imgur.com/qxWfNBZ.png">
                                  </div>
                                  <div class="am-content">
                                        <h5 class="title">Quick Access</h5>
                                  </div>
                                </div>
                          </div>
                          <div class="col-sm-3">
                                <div class="am-item">
                                  <div class="am-thumb">
                                        <img src="https://imgur.com/n1eyfUk.png">
                                  </div>
                                  <div class="am-content">
                                        <h5 class="title">24h Support</h5>
                                  </div>
                                </div>
                          </div>
                        </div>
                  </div>
                </div>
          </div>
        </div>
  </section>
  
  <!-- features two section -->
  <section class="featuresTwoSec">
        <div class="container">
          <div class="row">
                <div class="col-sm-12">
                  <div class="section-header">
                        <h3>Features Of</h3>
                        <h2>Our SMM Panel </h2>
                        <p>It is about us being able to offer help with the branding campaign, product presentation, and advertisement running across social media.</p>
                  </div>
                </div>
          </div>
          <div class="row">
                <div class="col-sm-6">
                  <div class="single-fea">
                        <div class="num">
                          01
                        </div>
                        <div class="desc">
                          <h3>Fast SMM panel</h3>
                          <p>brings you likes and views on your company's profile posts so it will look more interesting, triggering a response from the audience as well as customers.</p>
                        </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="single-fea">
                        <div class="num">
                          02
                        </div>
                        <div class="desc">
                          <h3>Cheap SMM panel </h3>
                          <p>allows you to increasethe engagement of your brand on various social media platforms, Facebook, Twitter, etc. and helps to reach a broader target audience.</p>
                        </div>
                  </div>
                </div>          
                <div class="col-sm-6">
                  <div class="single-fea">
                        <div class="num">
                          03
                        </div>
                        <div class="desc">
                          <h3>The biggest benefits</h3>
                          <p>is that {{ site["site_name"] }} promotes your business effectively with less timeand friendly budget.</p>
                        </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="single-fea">
                        <div class="num">
                          04
                        </div>
                        <div class="desc">
                          <h3>Once your business</h3>
                          <p>profile gain popularity on social media, it easilygets recognized in the market</p>
                        </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="single-fea">
                        <div class="num">
                          05
                        </div>
                        <div class="desc">
                          <h3>With 24-hour</h3>
                          <p>customer support service by {{ site["site_name"] }},you don't have to worry aboutmarketing of your business.</p>
                        </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="single-fea">
                        <div class="num">
                          06
                        </div>
                        <div class="desc">
                          <h3>Best SMM panel</h3>
                          <p>provides, positive comments and reviewsto make it more noticeable among the audience.</p>
                        </div>
                  </div>
                </div>
          </div>
        </div>
        <img class="p-a element2" src="https://imgur.com/k7ldZXF.png">
  </section>
  
  
  
  <!-- payment icons section -->
  <section class="payIconsSec">
        <div class="container-fluid">
          <div class="row">
                <div class="col-sm-12">
                  <div class="payIcons-slider">
  <div><img src="https://imgur.com/lsGplOh.png" alt="Paytm"></div>
  <div><img src="/attached_assets/esewa_logo_1768560118330.png" alt="Esewa"></div>  
  <div><img src="https://i.imgur.com/ETSstC9.png" alt="Khalti"></div> 
</div>
            
                 
                </div>
          </div>
        </div>
  </section>
                
      
{% include 'footer.twig' %}