{% include 'header1.twig' %}


            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


<style>
  .alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.index.authorized form .bootstrap-select .btn-default {
        background-color: #fff;
        border-color: #c0c5e4;
        box-shadow: 0 0 20px 0 #0000001a;
        border-radius: 4px;
        color: #1e223f;
        padding: 14px 12px;
        height: 50px !important;
        padding: 0px !important;
 }

 .index.authorized form .bootstrap-select .btn-default:focus {
        border-color:none !important;
        outline: none !important;
        
 }
 .index.authorized form .bootstrap-select .dropdown-menu.open{ 
min-width: 100% !important;
width: 100% !important;
max-width: 100% !important;
 }

 .bootstrap-select .dropdown-toggle .filter-option{ 
display: flex;
align-items: center;
padding-left: 20px;
background-color: #fff;
        border:1px solid #c0c5e4;
        
        border-radius: 4px;
        color: #1e223f;
        padding: 14px 12px;
        height: 50px !important;

}

 
div.dropdown button#dropdownMenu3, div.dropdown button#order-dd {
        background-color: #fff;
        border-color: #c0c5e4;
        box-shadow: 0 0 20px 0 #0000001a;
        border-radius: 10px;
        color: #1e223f;
        padding: 14px 12px;
        height: auto;
        display: none;
 }
 .index.authorized .bootstrap-select .dropdown-menu li a{
        cursor: pointer;
        border-bottom: 1px solid #ccc;
        padding: 6px 11px;
        background: transparent !important;
        color: #1b1a1a !important;
 } 

 .index.authorized form .dropdown-menu.open {
        max-width: 100%;
 position: absolute;
 }
.index.authorized  .select2-container--default .select2-selection--single {
    color: #8a8fa2 !important;
    height: 50px !important;
    margin-top: 10px !important;
    border-color: #eaf0f7 !important;
    display: flex !important;
   box-shadow: 0 0 20px 0 #0000001a;
    align-items: center !important;
   border-color: #c0c5e4 !important;
}
.index.authorized  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 20px !important;
    right: 1px;
    width: 20px;
}
.index.authorized .select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
display:none !important;
}

 .index.authorized .select2-container--default .select2-results>.select2-results__options {
        max-height: 350px;
        overflow-y: auto;
        margin-top: 6px;
 }
.index.authorized .select2-results__option[aria-selected] {
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    padding: 6px 11px;
    background: transparent !important;
    color: #1b1a1a !important;
}
.index.authorized .select2-results__option:hover{
    color: #1b1a1a !important;
    background: transparent;
}
.index.authorized form .select2-container{
    color: #8a8fa2 !important;
    height: 50px !important;
    margin-top: 10px !important;
    border-color: #eaf0f7 !important;
    width: 100% !important;
}
.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar{
    width: 2px;
}
.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-thumb{
 background-color: gray;
}
  .fa-youtube {
      color:#c4302b
    }
 
    .fa-facebook-square {
      color:#3b5998
    }
  /*.fa-instagram {
      color:#8a3ab9
  }*/
        .fa-instagram{
        background: #d6249f !important;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%) !important;
        box-shadow: 0px 3px 10px rgba(0,0,0,.25) !important;
}
  .fab.fa-twitch {
      color:#000 !important;
    }
        .fa-gift {
      color:#c4302b
    }
    .fa-twitter {
      color:#00acee
  }
    .fa-telegram-plane {
      color:#00acee
    }
    .fa-tiktok {
      color:#010101
    }
  .fa-chart-line-down {
      color:#00D485
    }
  .fa-gem {
      color:#0029FF
    }
        .fa-star{
          color:#FF00F3
  }
    .fa-telegram {
      color:#08c
    }
    .fa-soundcloud {
      color:#f70
    }
    .fa-spotify {
      color:#81b71a
    }
    .fa-reddit {
      color:#ff6314
    }
    .fa-google-plus {
      color:#db4a39
    }
    .fa-tumblr-square {
      color:#34526f
    }
    .fa-mixcloud {
      color:#52aad8
    }
    .fa-vk {
      color:#1a4b78
    }
    .fa-snapchat-square {
      color:#fffc00
    }
    .fa-vimeo {
      color:#86c9ef
    }
    .fa-linkedin {
      color:#0e76a8
    }
    .fa-tumblr-square {
      color:#34526f
    }
    .fa-mixcloud {
      color:#52aad8
    }
    .fa-dailymotion {
      color:#00d2f3
    }
    .fa-heart {
      color:#891984
    }
    .fa-snapchat-square {
      color:#fffc00
    }
    .fa-vimeo-v {
      color:#86c9ef
    }
    .fa-imdb {
      color:#f3ce13
    }
    .fa-discord {
      color:#7289da
    }
    .fa-napster {
      color:#000
    }
    .fa-vk {
      color:#1a4b78
    }
        div.dropdown button#dropdownMenu3, div.dropdown button#order-dd {
        background-color: #fff;
        border-color: #c0c5e4;
        box-shadow: 0 0 20px 0 #0000001a;
        border-radius: 10px;
        color: #1e223f;
        padding: 14px 12px;
        height: auto;
    }
        div.dropdown button#dropdownMenu3 #order-category, div.dropdown button#order-dd #order-services {
        display: block;
        width: calc(100% - 20px);
    }
        div.dropdown button#dropdownMenu3 i.fas.fa-angle-down.float-right, div.dropdown button#order-dd i.fas.fa-angle-down.float-right {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
    }
        #category-drop, #orders-drop {
        width: 100%;
        max-height: 350px;
        overflow-y: auto;
    }
        #category-drop #order-cItem, #orders-drop #order-sItem {
        display: block;
        width: 100%;
        text-align: left;
        padding: 6px 11px;
        background: transparent;
        border: 0;
            border-bottom-color: currentcolor;
            border-bottom-style: none;
            border-bottom-width: 0px;
        border-bottom: 1px solid #ccc;
    }
        #order_charge.icon-form-group {
        position: relative;
    }
        #order_charge.icon-form-group input {
        padding-left: 30px;
    }
        #order_charge.icon-form-group .icon {
        position: absolute;
        bottom: 14px;
        left: 14px;
    }
</style>
<div id="page-wrapper">
  <div class="inner-page-wrapper">
    <div class="container-fluid neworder">
      <div class="row">  
        <div class="alert alert-success" role="alert">
          
          <!-- <center style="font-family: Arial, sans-serif; font-size: 16px; margin-top: 10px;">
            For Support Contact 
            <a href="https://t.me/SmmNepalSupport" target="_blank" style="text-decoration: none; color: #0088cc; font-weight: bold;">
              <img src="https://cdn-icons-png.flaticon.com/512/2111/2111646.png" alt="Telegram" style="width: 20px; height: 20px; vertical-align: middle; margin-right: 5px;">
              Telegram Support
            </a> 
            Directly 
            <a href="https://t.me/SmmNepalSupport" target="_blank" style="text-decoration: none; color: #0088cc; font-weight: bold;">
              @SmmNepalSupport
            </a>
          </center> -->


<center style="font-family: Arial, sans-serif; font-size: 16px; margin-top: 10px;">
  For Support Contact  
  <a href="https://wa.me/" target="_blank" style="text-decoration: none; color: #25D366; font-weight: bold;">
    <img src="https://cdn-icons-png.flaticon.com/512/733/733585.png" alt="WhatsApp" style="width: 18px; height: 18px; vertical-align: middle; margin-right: 5px;">
    WhatsApp: 
  </a>
</center>


          
</div><div class="col-sm-12">
            <div id="content-desktop">
              <div class="row stat">
                  <div class="col-sm-3 stat-wrap">
                      <div class="media">
                          <div class="media-left">
                              <div class="stat-icon" style="width: 50px; height: 50px; background: linear-gradient(135deg, #2F86FA, #1a5fd4); border-radius: 50%; display: flex; align-items: center; justify-content: center;">
                                  <i class="fas fa-shopping-cart" style="color: #fff; font-size: 20px;"></i>
                              </div>
                          </div>

                          <div class="media-body">
                              <h4 class="media-heading">Total Orders</h4>
                              <p class="media-desc"style="margin-bottom: 0;">{{ totalorders }}</p>
                          </div>
                          <div class="bottom-grad grad1 "></div>
                      </div>
                  </div>

                  <div class="col-sm-3 stat-wrap">
                      <div class="media">
                          <div class="media-left">
                              <div class="stat-icon" style="width: 50px; height: 50px; background: linear-gradient(135deg, #f97316, #ea580c); border-radius: 50%; display: flex; align-items: center; justify-content: center;">
                                  <i class="fas fa-wallet" style="color: #fff; font-size: 20px;"></i>
                              </div>
                          </div>
                          <div class="media-body">
                              <h4 class="media-heading">You Have Spent</h4>
                              <p class="media-desc" style="margin-bottom: 0;">{{ user["spent"] }}</p>
                          </div>
                          <div class="bottom-grad grad2"></div>
                      </div>
                  </div>

                  <div class="col-sm-3 stat-wrap reseller">

                      <div class="media">
                          <div class="media-left">
                              <div class="stat-icon" style="width: 50px; height: 50px; background: linear-gradient(135deg, #7c3aed, #a855f7); border-radius: 50%; display: flex; align-items: center; justify-content: center;">
                                  <i class="fas fa-hand-holding-usd" style="color: #fff; font-size: 20px;"></i>
                              </div>
                          </div>
                          <div class="media-body">
                              <h4 class="media-heading">Resellers Program</h4>
                              <p class="media-desc" style="margin-bottom: 0;">Earn Money</p>
                              <small><a href="/giveaway">Click Here</a></small>
                          </div>
                          <div class="bottom-grad grad3"></div>
                      </div>
                  </div>

                  <div class="col-sm-3 stat-wrap acct-status">
                      <a type="button" data-toggle="modal" data-target="#exampleModalnew">
                          <div class="media">
                              <div class="media-left">
                                  <div class="stat-icon" style="width: 50px; height: 50px; background: linear-gradient(135deg, #22c55e, #16a34a); border-radius: 50%; display: flex; align-items: center; justify-content: center;">
                                      <i class="fas fa-crown" style="color: #ffd700; font-size: 20px;"></i>
                                  </div>
                              </div>
                              <div class="media-body">
                                  <h4 class="media-heading">Account Status</h4>
                                  <p class="media-desc account_status_span" style="text-transform: uppercase;margin-bottom: 0;">{{ statu }}</p>
                              </div>
                              <div class="bottom-grad grad4"></div>
                          </div>
                      </a>
                  </div>
              </div>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-sm-7">
                <div class="well">
                        <ul class="nav nav-tabs dash-tabs">
                  <li role="presentation" class="active"><a class="nav-link active" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true" aria-expanded="false" href="#neworder"><i class="fas fa-plus-circle"></i> New order</a></li>
                  <li role="presentation"><a href="/massorder"><i class="fas fa-clone"></i> Mass order</a></li>
                  <!-- <li role="presentation"><a class="nav-link" id="home-tab" data-toggle="tab" href="#accstatus" role="tab" aria-controls="home" aria-selected="true" aria-expanded="true"><i class="fas fa-info-circle"></i> Account Status</a></li> -->
                  <li class="pull-right"><button class="btn btn-primary" data-toggle="modal" data-tooltip="tooltip" data-placement="left" data-target="#exampleModal" title="" data-original-title="Click me !!" aria-describedby="tooltip832309">
                    <i class="fas fa-info"></i>
                    <span class="like-tootips">click me !!</span>
                    <div class="tooltip-arrow" style="top: 53%;"></div>
                    </button></li>
                </ul>
                
                <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade active in" id="neworder" role="tabpanel" aria-labelledby="home-tab">
                                        {% if error %}
              <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">✕</button>
                {{ errorText }}
              </div>
              {% endif %}

              {% if data["order"]["success"] == 1 %}
              <div class="alert alert-dismissible alert-success">
                <strong>{{ lang["neworder.success.id"] }}: </strong> {{ data['order']['id'] }}<br>
                <strong>{{ lang["neworder.success.service"] }}: </strong> {{ data['order']['service'] }}<br>
                <strong>{{ lang["neworder.success.link"] }}: </strong> {{ data['order']['link'] }}<br>
                <strong>{{ lang["neworder.success.quantity"] }}: </strong> {{ data['order']['quantity'] }}<br>
                <strong>{{ lang["neworder.success.charge"] }}: </strong> {{ data['order']['price'] }}<br>
                <strong>{{ lang["neworder.success.balance"] }}: </strong> {{ data['order']['balance'] }}<br>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">✕</span>
                </button>
              </div>
              {% endif %}

              {% if data["order"]["success"] == 2 %}
              <div class="alert alert-dismissible alert-success">
                <strong>{{ lang["neworder.success.id"] }}: </strong> {{ data['order']['id'] }}<br>
                <strong>{{ lang["neworder.success.service"] }}: </strong> {{ data['order']['service'] }}<br>
                <strong>{{ lang["neworder.success.username"] }}: </strong> {{ data['order']['link'] }}<br>
                <strong>{{ lang["neworder.success.quantity"] }}: </strong> {{ data['order']['min'] }} - {{ data['order']['max'] }}<br>
                <strong>{{ lang["neworder.success.posts"] }}: </strong> {{ data['order']['posts'] }}<br>
                <strong>{{ lang["neworder.success.delay"] }}: </strong> {{ data['order']['delay'] }}<br>
              </div>
              {% endif %}
              
                        <form method="post" action="">
                            <div class="form-hidden form-group">
                                <label class="control-label" for="orderCategory">Category</label>
                               <select class="form-control" id="neworder_category" name="categories" data-select="true" data-select-search="true" data-select-search-placeholder="Search" data-select-container="#select-category-container" tabindex="-1" aria-hidden="true">
{{ category_html_simplify }}

</select>
                              <div class="dropdown">
                                <button class="form-control text-left" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                  <span id="order-category"></span>
                                  <i class="fas fa-angle-down float-right" aria-hidden="true"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu3" id="category-drop">
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="OrderService">Service</label><br><b>ID : <span class="neworder_services"></span></b>
                               <select class="form-control" id="neworder_services" name="services" data-select="true" data-select-search="true" data-select-search-placeholder="Search" data-select-container="#select-service-container" tabindex="-1" aria-hidden="true">
{{ first_category_services_html|raw }}
</select>
                                <div class="dropdown" id="select-service-container">
                                    <button class="form-control text-left" type="button" id="order-dd" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <span id="order-services">Select a service</span>
                                      <i class="fas fa-angle-down float-right" aria-hidden="true"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="order-dd" id="orders-drop">
                                    </div>
                                </div>
                            </div>
                      
<div id="neworder_fields"></div>
  <div class="form-group" id="charge_div">
      <label for="charge" class="control-label">Charge</label>
      <input type="text" class="form-control" id="charge" readonly>
    </div>
                            <input type="hidden" name="place_order" value="place_order"><div class="card-top-blk"><img src="https://res.cloudinary.com/darq0uxnz/image/upload/v1737121743/SmmNEPAL/warning_d4if49.png" alt="" style="width:50px; height:40px;"><h4><span id="serviceId" style="font-weight: bold;">Notes</span>
<value id="serviceName">Warning</value> <value style="font-size: 15px;font-weight: 100;" id="serviceName"></value>
</h4></div><div class="order-warning-box">
 <span class="warning-num">1-</span><span>  You Must Read The Description Before purchasing.</span>
<br>
 <span class="warning-num">2-</span><span>  The Profile Must Be Public, Not Private.</span>
<br>
 <span class="warning-num">3-</span><span>  Don't Place More Then 1 Order For Same Link at the Same Time.</span>
                      <br>
 <span class="warning-num">4-</span><span>  You Shouldn't Complain Before The Order Deadline.</span>
</div><button type="submit" class="dash-btn" onclick="disable_button(this)" name="place_order">Buy Service</button>
                        </form>
                                                <script>
                                                function disable_button(e){
                                                        e.style.display = "none";
                                                }
                                                </script>
                        </div>
                </div>
                </div>
        </div>
      </div>
<!-- why us
                
                <div class="col-sm-5">
        <div class="well">
          <div class="dash-title">
            <ul id="myTabs" class="video-tabs nav nav-tabs dash-tabs" role="tablist" data-tabs="tabs">
                <li class="active"><a href="#abc" data-toggle="tab" aria-expanded="true"><i class="fa fa-question-circle"></i> Why Us? </a></li></ul>



            <center>
                <img class="feat-bulb aos-init aos-animate" src="https://res.cloudinary.com/smmnepal/image/upload/v1644907615/SMMNepal/light_yey9pp.png" alt="bulb" data-aos="fade-up" data-aos-duration="2000">
            </center>


            <ul class="feature-list">
                <li data-aos="fade-up" data-aos-duration="2000" class="aos-init aos-animate"><p>  Cheapest Services  </p><span class="feat-icon"><i class="far fa-percentage"></i></span></li>
                <li data-aos="fade-up" data-aos-duration="2000" class="aos-init aos-animate"><p>  Fast Delivery  </p><span class="feat-icon"><i class="far fa-fighter-jet"></i></span></li>
                <li data-aos="fade-up" data-aos-duration="2000" class="aos-init aos-animate"><p>  Support 24/7  </p><span class="feat-icon"><i class="fas fa-headset"></i></span></li>
                <li data-aos="fade-up" data-aos-duration="2000" class="aos-init aos-animate"><p>  Payment Methods  </p><span class="feat-icon"><i class="far fa-money-bill-wave"></i></span></li>
                <li data-aos="fade-up" data-aos-duration="2000" class="aos-init aos-animate"><p>  Friendly Dashboard  </p><span class="feat-icon"><i class="far fa-phone-laptop"></i></span></li>
                <li data-aos="fade-up" data-aos-duration="2000" class="aos-init aos-animate"><p>  Affiliate System  </p><span class="feat-icon"><i class="far fa-user-chart"></i></span></li></ul>

        </div>
    </div>
  
</div>

     why us end -->
      
      
      
          <!-- precautionary modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <img src="{{ site["logo"] }}"  alt="ftr-logo" width="300" height="150" title="SmmNepal.com" >

            </div>
            <div class="modal-body">
              <h4 class="modal-title" id="myModalLabel">Information</h4>
              <p>⚠️ Do Not place multiple orders for the</p>

              <p>same link at the same time, wait until the first order will be Completed / Canceled or Partial</p>

              <p>before placing a new one. Will be NO cancellation and No refund in such cases. ( Also: Do not place the same orders twice until the first one will be</p>

              <p>Completed/Canceled/Partial. NO cancellation will be made and both orders will be marked as "Completed"! ). We cannot deliver you the correct number of followers/likes/views etc. in such cases. We</p>

              <p>will not refund for these orders. Please keep attention. In case your Order has been dropped, please wait for us to Refill or Cancel or Partial before to make a new order. We will not cancel any orders in this case. Please keep attention!. ⚠️The system is working according to the start count and marks your orders as completed after you will receive enough quantity. So, Don't ask us to cancel or anything else with the reason:" views/Likes/subs... come from my real users, my fans, another sellers etc. Please keep attention!</p>

            </div>
          </div>
        </div>
      </div>
    
    </div>
  </div>
</div>


<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>var services_mechanism = 1; 
                var services_array = {{ services_array_json|raw }}; 
                var category_array = {{ category_array_json|raw }}; </script>

<!-- Account Status Modal - 3 Tier System -->
<div class="modal fade" id="exampleModalnew" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="background: #000; border: 1px solid #1a1a2e; border-radius: 16px;">
            <div class="modal-header" style="border-bottom: 1px solid #1a1a2e; padding: 20px 30px;">
                <h4 style="color: #fff; margin: 0; font-weight: 600;"><i class="fas fa-crown" style="color: #2F86FA;"></i> Account Status</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #fff; opacity: 0.7;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding: 30px;">
                <!-- Status Tabs -->
                <div class="status-tabs" style="display: flex; gap: 10px; margin-bottom: 30px; flex-wrap: wrap;">
                    <button class="status-tab" style="flex: 1; min-width: 100px; padding: 12px 20px; background: {% if statu == 'NEW' %}#2F86FA{% else %}#1a1a2e{% endif %}; border: {% if statu == 'NEW' %}none{% else %}1px solid #2a2a4e{% endif %}; border-radius: 25px; color: {% if statu == 'NEW' %}#fff{% else %}#888{% endif %}; font-weight: 600; cursor: pointer; transition: all 0.3s;">
                        <i class="fas fa-user"></i> NEW
                    </button>
                    <button class="status-tab" style="flex: 1; min-width: 100px; padding: 12px 20px; background: {% if statu == 'PREMIUM' %}#7c3aed{% else %}#1a1a2e{% endif %}; border: {% if statu == 'PREMIUM' %}none{% else %}1px solid #2a2a4e{% endif %}; border-radius: 25px; color: {% if statu == 'PREMIUM' %}#fff{% else %}#888{% endif %}; font-weight: 600; cursor: pointer; transition: all 0.3s;">
                        <i class="fas fa-crown"></i> PREMIUM
                    </button>
                    <button class="status-tab" style="flex: 1; min-width: 100px; padding: 12px 20px; background: {% if statu == 'RESELLER' %}#f59e0b{% else %}#1a1a2e{% endif %}; border: {% if statu == 'RESELLER' %}none{% else %}1px solid #2a2a4e{% endif %}; border-radius: 25px; color: {% if statu == 'RESELLER' %}#fff{% else %}#888{% endif %}; font-weight: 600; cursor: pointer; transition: all 0.3s;">
                        <i class="fas fa-rocket"></i> RESELLER
                    </button>
                </div>
                <p style="color: #888; text-align: center; margin-bottom: 20px; font-size: 14px;">CURRENT STATUS: <b style="color: {% if statu == 'NEW' %}#2F86FA{% elseif statu == 'PREMIUM' %}#7c3aed{% else %}#f59e0b{% endif %};">{{ statu }}</b></p>
                
                <!-- Progress Bar with tier markers -->
                <div style="position: relative; margin-bottom: 50px;">
                    <div style="background: #1a1a2e; height: 8px; border-radius: 4px; overflow: hidden;">
                        <div style="background: linear-gradient(90deg, #2F86FA, #7c3aed, #f59e0b); height: 100%; width: {{ tier_progress|default(0)|round }}%; border-radius: 4px; transition: width 0.5s ease;"></div>
                    </div>
                    <!-- Tier markers -->
                    <div style="position: absolute; left: 0; top: 15px; text-align: center; width: 60px;">
                        <span style="color: #2F86FA; font-size: 11px;">NEW</span>
                    </div>
                    <div style="position: absolute; left: calc(50% - 30px); top: 15px; text-align: center; width: 60px;">
                        <span style="color: #7c3aed; font-size: 11px;">PREMIUM</span>
                    </div>
                    <div style="position: absolute; right: 0; top: 15px; text-align: center; width: 60px;">
                        <span style="color: #f59e0b; font-size: 11px;">RESELLER</span>
                    </div>
                </div>
                
                <!-- Tier Content - 3 columns -->
                <div class="row">
                    <!-- NEW Tier -->
                    <div class="col-md-4">
                        <div style="background: #0a0a12; border: 2px solid {% if statu == 'NEW' %}#2F86FA{% else %}#1a1a2e{% endif %}; border-radius: 16px; padding: 20px; height: 100%;">
                            <div style="display: flex; align-items: center; gap: 12px; margin-bottom: 15px;">
                                <div style="width: 45px; height: 45px; background: linear-gradient(135deg, #2F86FA, #1a5fd4); border-radius: 12px; display: flex; align-items: center; justify-content: center;">
                                    <i class="fas fa-user" style="color: #fff; font-size: 18px;"></i>
                                </div>
                                <div>
                                    <h3 style="color: #fff; margin: 0; font-size: 20px; font-weight: 700;">NEW</h3>
                                    <p style="color: #2F86FA; margin: 0; font-size: 12px;">{% if statu == 'NEW' %}Current{% else %}Starter{% endif %}</p>
                                </div>
                            </div>
                            <div style="border-top: 1px solid #1a1a2e; padding-top: 15px; font-size: 13px;">
                                <p style="color: #4ade80; margin-bottom: 10px;"><i class="fas fa-check-circle" style="margin-right: 6px;"></i> 24/7 Ticket Support</p>
                                <p style="color: #4ade80; margin-bottom: 10px;"><i class="fas fa-check-circle" style="margin-right: 6px;"></i> 5% Deposit Bonus</p>
                                <p style="color: #666; margin-bottom: 10px;"><i class="fas fa-times-circle" style="margin-right: 6px;"></i> Priority Support</p>
                                <p style="color: #666; margin-bottom: 10px;"><i class="fas fa-times-circle" style="margin-right: 6px;"></i> Special Discounts</p>
                                <p style="color: #666; margin-bottom: 10px;"><i class="fas fa-times-circle" style="margin-right: 6px;"></i> WhatsApp Support</p>
                                <p style="color: #666; margin-bottom: 10px;"><i class="fas fa-times-circle" style="margin-right: 6px;"></i> Hidden Services</p>
                                <p style="color: #666; margin-bottom: 10px;"><i class="fas fa-times-circle" style="margin-right: 6px;"></i> Own Website</p>
                                <p style="color: #666; margin-bottom: 0;"><i class="fas fa-times-circle" style="margin-right: 6px;"></i> Admin Support</p>
                            </div>
                        </div>
                    </div>
                    
                    <!-- PREMIUM Tier -->
                    <div class="col-md-4">
                        <div style="background: #0a0a12; border: 2px solid {% if statu == 'PREMIUM' %}#7c3aed{% else %}#1a1a2e{% endif %}; border-radius: 16px; padding: 20px; height: 100%; position: relative;">
                            {% if statu == 'NEW' %}
                            <div style="position: absolute; top: -12px; right: 15px; background: linear-gradient(135deg, #7c3aed, #a855f7); padding: 4px 12px; border-radius: 15px; font-size: 10px; color: #fff; font-weight: 600;">
                                {{ tier_currency_symbol|default('₹') }}{{ premium_threshold|default(5000)|number_format(0) }}
                            </div>
                            {% endif %}
                            <div style="display: flex; align-items: center; gap: 12px; margin-bottom: 15px;">
                                <div style="width: 45px; height: 45px; background: linear-gradient(135deg, #7c3aed, #a855f7); border-radius: 12px; display: flex; align-items: center; justify-content: center;">
                                    <i class="fas fa-crown" style="color: #ffd700; font-size: 18px;"></i>
                                </div>
                                <div>
                                    <h3 style="color: #fff; margin: 0; font-size: 20px; font-weight: 700;">PREMIUM</h3>
                                    <p style="color: #7c3aed; margin: 0; font-size: 12px;">{% if statu == 'PREMIUM' %}Current{% elseif statu == 'NEW' %}Next{% else %}Active{% endif %}</p>
                                </div>
                            </div>
                            <div style="border-top: 1px solid #1a1a2e; padding-top: 15px; font-size: 13px;">
                                <p style="color: #4ade80; margin-bottom: 10px;"><i class="fas fa-check-circle" style="margin-right: 6px;"></i> 24/7 Ticket Support</p>
                                <p style="color: #4ade80; margin-bottom: 10px;"><i class="fas fa-check-circle" style="margin-right: 6px;"></i> 7% Deposit Bonus</p>
                                <p style="color: #4ade80; margin-bottom: 10px;"><i class="fas fa-check-circle" style="margin-right: 6px;"></i> Priority Support</p>
                                <p style="color: #4ade80; margin-bottom: 10px;"><i class="fas fa-check-circle" style="margin-right: 6px;"></i> <b>5-15% Discounts</b></p>
                                <p style="color: #4ade80; margin-bottom: 10px;"><i class="fas fa-check-circle" style="margin-right: 6px;"></i> WhatsApp Support</p>
                                <p style="color: #4ade80; margin-bottom: 10px;"><i class="fas fa-check-circle" style="margin-right: 6px;"></i> Hidden Services</p>
                                <p style="color: #666; margin-bottom: 10px;"><i class="fas fa-times-circle" style="margin-right: 6px;"></i> Own Website</p>
                                <p style="color: #4ade80; margin-bottom: 0;"><i class="fas fa-check-circle" style="margin-right: 6px;"></i> Admin Support</p>
                            </div>
                        </div>
                    </div>
                    
                    <!-- RESELLER Tier -->
                    <div class="col-md-4">
                        <div style="background: #0a0a12; border: 2px solid {% if statu == 'RESELLER' %}#f59e0b{% else %}#1a1a2e{% endif %}; border-radius: 16px; padding: 20px; height: 100%; position: relative;">
                            {% if statu != 'RESELLER' %}
                            <div style="position: absolute; top: -12px; right: 15px; background: linear-gradient(135deg, #f59e0b, #fbbf24); padding: 4px 12px; border-radius: 15px; font-size: 10px; color: #000; font-weight: 600;">
                                {{ tier_currency_symbol|default('₹') }}{{ reseller_threshold|default(25000)|number_format(0) }}
                            </div>
                            {% endif %}
                            <div style="display: flex; align-items: center; gap: 12px; margin-bottom: 15px;">
                                <div style="width: 45px; height: 45px; background: linear-gradient(135deg, #f59e0b, #fbbf24); border-radius: 12px; display: flex; align-items: center; justify-content: center;">
                                    <i class="fas fa-rocket" style="color: #fff; font-size: 18px;"></i>
                                </div>
                                <div>
                                    <h3 style="color: #fff; margin: 0; font-size: 20px; font-weight: 700;">RESELLER</h3>
                                    <p style="color: #f59e0b; margin: 0; font-size: 12px;">{% if statu == 'RESELLER' %}Current{% else %}Ultimate{% endif %}</p>
                                </div>
                            </div>
                            <div style="border-top: 1px solid #1a1a2e; padding-top: 15px; font-size: 13px;">
                                <p style="color: #4ade80; margin-bottom: 10px;"><i class="fas fa-check-circle" style="margin-right: 6px;"></i> 24/7 Ticket Support</p>
                                <p style="color: #4ade80; margin-bottom: 10px;"><i class="fas fa-check-circle" style="margin-right: 6px;"></i> 10% Deposit Bonus</p>
                                <p style="color: #4ade80; margin-bottom: 10px;"><i class="fas fa-check-circle" style="margin-right: 6px;"></i> Priority Support</p>
                                <p style="color: #f59e0b; margin-bottom: 10px;"><i class="fas fa-star" style="margin-right: 6px;"></i> <b>15% Fixed Discount</b></p>
                                <p style="color: #4ade80; margin-bottom: 10px;"><i class="fas fa-check-circle" style="margin-right: 6px;"></i> WhatsApp + Call</p>
                                <p style="color: #4ade80; margin-bottom: 10px;"><i class="fas fa-check-circle" style="margin-right: 6px;"></i> All Hidden Services</p>
                                <p style="color: #f59e0b; margin-bottom: 10px;"><i class="fas fa-star" style="margin-right: 6px;"></i> <b>Get Own Website!</b></p>
                                <p style="color: #4ade80; margin-bottom: 0;"><i class="fas fa-check-circle" style="margin-right: 6px;"></i> Direct Admin Line</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Spending Progress Info -->
                <div style="margin-top: 25px; background: #0a0a12; border-radius: 12px; padding: 20px; border: 1px solid #1a1a2e;">
                    <h4 style="color: #fff; margin-bottom: 12px; font-size: 16px;"><i class="fas fa-chart-line" style="color: #2F86FA; margin-right: 8px;"></i> Your Progress</h4>
                    <p style="color: #aaa; margin-bottom: 0; line-height: 1.6; font-size: 14px;">
                        {% if statu == 'RESELLER' %}
                            <span style="color: #f59e0b;"><i class="fas fa-star"></i></span> You are a <b style="color: #f59e0b;">RESELLER</b> with maximum benefits! Contact admin to set up your own website.
                        {% elseif statu == 'PREMIUM' %}
                            <span style="color: #4ade80;"><i class="fas fa-check-circle"></i></span> You are <b style="color: #7c3aed;">PREMIUM</b>! Spend <b style="color: #f59e0b;">{{ tier_currency_symbol|default('₹') }}{{ (reseller_threshold|default(25000) - user_spent_raw|default(0))|abs|number_format(0) }}</b> more to become a <b style="color: #f59e0b;">RESELLER</b> with 15% discount and your own website!
                        {% else %}
                            You've spent <b style="color: #2F86FA;">{{ tier_currency_symbol|default('₹') }}{{ user_spent_raw|default(0)|number_format(0) }}</b>. Spend <b style="color: #7c3aed;">{{ tier_currency_symbol|default('₹') }}{{ (premium_threshold|default(5000) - user_spent_raw|default(0))|abs|number_format(0) }}</b> more to unlock <b style="color: #7c3aed;">PREMIUM</b> with 5-15% discounts!
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

    {% include 'footer1.twig' %}
    



 <script type="text/javascript" src="/public/global/qri1ac173hshc2hdjc.js"></script>
<script type="text/javascript" >
window.modules.siteOrder = {
  fieldsOptions: undefined,
  fieldOptions: { fields: [] },
  fields: {},
  format: {
    min: 2,
    max: 4,
    thousands: ',',
    delimiter: '.'
  },
  currencyOptions: {
    original_template: '{{value}}',
    template: 'रू {{value}}'
  },
  run: function(t) { if(document.forms.sendform) document.forms.sendform.submit(); }
}; </script>
<script type="text/javascript" >
window.modules.select = [];   </script>

<script src="/public/script.js"></script>


