{% include 'header1.twig' %}
<br><br><br><br><br><br><br>

{% if settings['ticket_system'] == 1 %}

<div class="wrapper-content">
    <div class="wrapper-content__header">
          </div>
    <div class="wrapper-content__body">
      <!-- Main variables *content* -->
      <div id="block_93">
    <div class="ticket-form">
        <div class="bg"></div>
        <div class="divider-top"></div>
        <div class="divider-bottom"></div>
        <div class="container">
       <div class="card mt-2 mb-2">
		{% if contentText %}
{{ contentText }}
{% endif %}
</div>
            <div class="row ticket-form__alignment">
                <div class="col-lg-6 ">
                   <div class="component_card">
                      <div class="card mt-2 mb-2">

      {% if error %}
        <div class="alert alert-dismissible alert-danger {% if site['rtl'] %} rtl-alert {% endif %}">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ errorText }}
        </div>
      {% elseif success %}
        <div class="alert alert-dismissible alert-success {% if site['rtl'] %} rtl-alert {% endif %}">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ successText }}
        </div>
      {% endif %}


        <div class="well">
          <form method="post" action="tickets">
            <div class="form-group">
              <label for="subject" class="control-label">{{ lang['tickets.subject'] }}</label>
              
<select  type="text" class="form-control" id="subject" name="subject">
                                  {% for subjects in orders %}
                   <option value"{{ subjects['subject'] }}">{{ subjects['subject'] }}</option>
                  {% endfor %}
                              </select>
           </div>
            <div class="form-group">
              <label for="message" class="control-label">{{ lang['tickets.message'] }}</label>
              <textarea class="form-control" rows="7" id="message" name="message">{{ data['message'] }}</textarea>
            </div>
            

		 <input type="hidden" name="add_ticket" value="add_ticket" />
	   <p id="upload_status"></p>
		<input class="form-control" id="inp" type="file">
		
            <button type="submit" class="btn btn-primary">{{ lang['tickets.button'] }}</button>
          </form>
        </div>
        </div>
        </div>
        </div>
       
                    <div class="row">
                        <div class="col">
                            <div class="tickets-list__margin-table">
                                <div class="table-bg component_table ">
                                    <div class="table-wr table-responsive">
                                        <table class="table mt-2">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Subject</th>
                                                <th>Status</th>
                                                <th class="nowrap">Last update</th>
                                            </tr>
                                            </thead>
                                            <tbody>

              {% for ticket in ticketList %}
                <tr>
                  <td>{{ ticket['ticket_id'] }}</td>
                  {% if ticket["support_new"] == 2 %}
                    <td><a href="tickets/{{ ticket['ticket_id'] }}"><strong>{{ ticket['subject'] }}</strong></a></td>
                  {% else %}
                    <td><a href="tickets/{{ ticket['ticket_id'] }}">{{ ticket['subject'] }}</a></td>
                  {% endif %}
                  <td>{{ ticket['status'] }}</td>
                  <td><span class="nowrap">{{ ticket['lastupdate_time'] }}</span></td>
                </tr>
              {% endfor %}
</td>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div> </div></div>
        </div>
        </div></div>
      {% endif %}
      
<div id="block_81">
    <div class="tickets-list">
        <div class="bg"></div>
        <div class="divider-top"></div>
        <div class="divider-bottom"></div>
        <div class="container">
            <div class="row tickets-list__alignment">
                

{% if pagination["count"] > 1 %}
        <ul class="pagination">

          {% if pagination["current"] != 1 %}
            <li>
              <a href="tickets/{{ id }}/{{ pagination["previous"] }}{% if search %}?search={{ search }}{% endif %}" aria-label="Previous">
                <span aria-hidden="true">«</span>
              </a>
            </li>
          {% endif %}

          {% set r, l = 3, 3 %}

          {% if pagination['current'] == 1 %}
            {% set r = 7 %}
          {% endif %}

          {% if pagination['current'] == 2 %}
            {% set r = 5 %}
          {% endif %}

          {% if pagination['current'] >= pagination['count'] %}
            {% set l = 5 %}
          {% endif %}

          {% for page in 1..pagination["count"] %}
            {% if page >= (pagination['current']-l) and page <= (pagination['current']+r) %}
              <li{% if page == pagination['current'] %} class="active" {%endif%}><a href="tickets/{{ id }}/{{ page }}{% if search %}?search={{ search }}{% endif %}">{{ page }}</a></li>
            {%endif%}
          {% endfor %}

          {% if pagination['current'] < pagination['count'] %}
            <li>
              <a href="ticket/{{ id }}/{{ pagination['next'] }}{% if search %}?search={{ search }}{% endif %}" aria-label="Next">
                <span aria-hidden="true">»</span>
              </a>
            </li>
          {% endif %}

        </ul>
      {% endif %}

    </div></div></div>    </div>
</div></div>



  
 <div class="divider-top"></div>
        <div class="divider-bottom"></div>
        <div class="container">
 <div class="card mb-4">
		{% if contentText2 %}
{{ contentText2 }}
{% endif %}
</div></div>











<script>
	function readFile() {

		if (!this.files || !this.files[0]) return;

		document.getElementById("upload_status").innerHTML = 'Please wait! We are uploading your image.';

		const FR = new FileReader();

		FR.addEventListener("load", function (evt) {
			var message_old_value = document.getElementsByName("message")[0].value;
			console.log(evt.target.result);
			var post_data = "key=officialrentalpanel352080&image=" + encodeURIComponent(evt.target.result);
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function () {
				if (this.readyState == 4 && this.status == 200) {
					var response_back = JSON.parse(this.responseText);

					if (typeof response_back.image !== 'undefined') {
						document.getElementsByName("message")[0].value = message_old_value + ' ' + response_back.image;



						var elementExists = document.getElementById("message");
						if (elementExists) {
							document.getElementById("message").value = document.getElementById("message").value + " " + response_back.image;
						}

						document.getElementById("upload_status").innerHTML = 'Image is uploaded. You can create ticket';
					} else {
						document.getElementById("upload_status").innerHTML = 'Image uploading failed. Try again after refreshing page';

					}



				}
			};
			xhttp.open("POST", "https://panelupdates.com/uploader/api", true);
			xhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
			xhttp.send(post_data);

		});

		FR.readAsDataURL(this.files[0]);

	}

	var input = document.getElementById('inp');
	input.addEventListener("change", readFile);

</script>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% include 'footer1.twig' %}
